<% if obj.errors.any? %>

<div class="alert alert-danger   alert-dismissible fade show"  role="alert">
    <h3> the following errors prevented <%= obj.class %> to save</h2>
    <hr>
        <ul>
            <% obj.errors.full_messages.each do |error| %>
            <li> <%= error %> </li>
            <% end %>
        </ul>

</div>

    <% end %> 

    
 
 