@import 'bootstrap';
.navbar{
    background-color: rgb(0, 0, 0);
}

.nav-link{
    color: rgb(255, 255, 255) !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bol;
}


#home-container {
    margin-top: 25px;
  }
.jumbotron {
    background-image: asset-url('jumbo-copy.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
  }
  
  html,
  body {
    height: 100%;
  }
  
  #page-content {
    flex: 1 0 auto;
    background-color: lightgrey;
  }

  #sticky-footer {
    flex-shrink: none;
  }
  
  .card-body .card-text {
    text-align: left;
}
// bootstarp textalign class text-left  was not working so wrote custom css 